ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    width: 100%;
    height: 100%;
}

.page_container {
    margin: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Links*/
a:link {
    color: #5f6368;
    text-decoration: none;
}

a:visited {
    color: #5f6368;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*Navigation*/
.nav {
    text-align: right;
    padding: 10px;
    font-size: 13px;
}

.nav_list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav_button {
    padding-right: 15px;
}

.nav_app {
    height: 20px;
    width: 20px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.nav_profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
}

/*Google Logo*/
.flex_space {
    flex: 1;
    max-height: 92px;
    height: 100%; 
}

.google_container {
    text-align: center;
    flex: 1;
}

.google_logo {
    padding:0%;
    margin:0%;
}

/*Searchbar*/
.search_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
} 

.google_glass {
    height: 27px;
    width: 27px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}

.search {
    display: flex;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    border-radius: 24px;
    height: 44px;
    width: 100%;
    border: 1px solid #dfe1e5;
    padding: 0 8px 0 10px;
    max-width: 584px;
}

.search:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.input {
    display: flex;
    flex: 1;
    width: 100%;
}

.search_bar {
    border: none;
    outline: none;
    width: 100%;
    min-width: 500px;
    padding-left: 7px;
    font-size: 17px;
}

.buttons {
    display: flex;
    padding-top: 13px;
    align-items: center;

}

.button_container {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    padding-top: 18px;
}

.button_container input:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.search_submit {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color:#5F6368;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

.search_random {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color:#5F6368;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

.google_lang {
    font-size: small;
    text-align: center;
    margin-bottom: 24px;
}

.google_lang a:link {
    color: #1a0dab;
    text-decoration: none;
}

.google_lang a:visited {
    color: #1a0dab;
    text-decoration: none;
}
.google_lang a:hover {
    text-decoration: underline;
}

/*Location*/
.location {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0, 0, 0,.54);
    background-color: #f2f2f2;
}

.country {
    margin: 0px;
}

/*Footer*/
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #f2f2f2;
    }

    .footer_left {
        padding: 15px 20px;
    }

    .about {
        padding: 0 15px;
    }

    .advertising {
        padding: 0 11px;
    }

    .business {
        padding: 0 15px;
    }

    .tutorial {
        padding:0 11px;
    }

    .footer_right {
        padding: 15px 20px;
    }

    .privacy {
        padding: 0 15px;
    }

    .terms {
        padding: 0 11px;
    }

    .settings {
        padding: 0 15px;
    }